<div class="card-container">

  <div class="card">
    <h3>Barchart</h3>
    <a href="/barchart"><img src="assets/barchart.png"/></a>
  </div>

  <div class="card">
    <h3>Linechart</h3>
    <a href="/linechart"><img src="assets/linechart.png"/></a>
  </div>

  <div class="card">
    <h3>Funnelchart</h3>
    <a href="/funnelchart"><img src="assets/funnelchart.png"/></a>
  </div>

  <div class="card">
    <h3>Mekkochart</h3>
    <a href="/mekkochart"><img src="assets/mekkochart.png"/></a>
  </div>

  <div class="card">
    <h3>Piechart</h3>
    <a href="/piechart"><img src="assets/piechart.png"/></a>
  </div>

  <div class="card">
    <h3>Sankeychart</h3>
    <a href="/sankeychart"><img src="assets/sankeychart.png"/></a>
  </div>

</div>